/* Styles for the main application container */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Styles for paragraphs */
p {
  font-size: 1.2em;
  color: #E7E7E7;
}

/* Light theme styles */
#light {
  background-color: #EEEDED;
}

#light h3 {
  color: #005269;
}

#light .chat-header p {
  color: #fcfefe;
}

#light .chat-body {
  background-color: #FFFFFF;
}

#light input {
  background-color: #eff6fcd2;
  color: #11191f;
  border: #e9e7e6d0 solid 1px;
}

/* Dark theme styles */
#dark {
  background-color: #11191f;
}

/* Styles for the theme switch button */
.switch {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
}

/* Styles for the join chat container */
.joinChatContainer {
  text-align: center;
  width: 60vw;
}

/* Styles for the image container */
.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.img-container img {
  width: 12vw;
}

/* General input and header styles */
input,
h3 {
  font-size: .8em;
}

h3 {
  font-size: 1.5em;
}

/* Styles for the chat window */
.chat-window {
  width: 80vw;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Styles for the chat header */
.chat-header {
  height: 8vh;
  background: #1e2b30a4;
  color: #fff;
  line-height: 45px;
  padding: 0 1rem;
}

/* Styles for the chat body */
.chat-body {
  height: 25rem;
  background: #3E4756;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

/* Styles for the message container */
.chat-window .chat-body .message-container {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}

.message-container::-webkit-scrollbar {
  display: none;
}

/* Styles for each chat message */
.chat-window .chat-body .message {
  padding: 10px;
  display: flex;
  height: auto;
}

/* Styles for the message content */
.message .message-content {
  background-color: #088395;
  max-width: 25rem;
  border-radius: 15px;
  color: #fff;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding: 0 5px 0 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

/* Styles for sent messages */
.sent-message {
  font-size: .8em;
}

/* Styles for your messages */
#you {
  justify-content: flex-end;
}

#you .message-content,
#you .message-meta {
  justify-content: flex-end;
}

/* Styles for others' messages */
#other {
  justify-content: flex-start;
}

#other .message-content {
  justify-content: flex-start;
  background-color: #146C94;
}

#other .message-meta {
  justify-content: flex-start;
  margin-right: 5px;
}

/* Styles for message metadata and author */
.message-meta #author {
  margin-left: 10px;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 10px;
}

/* Styles for the chat footer */
.chat-window .chat-footer {
  height: 50px;
  border: none;
  display: flex;
}

.chat-window .chat-footer input {
  background-color: #2a303ae8;
  flex: 85%;
  height: 100%;
  font-size: .9em;
  border-radius: 0;
  font-family: "Open Sans", sans-serif;
}

.chat-window .chat-footer button {
  flex: 10%;
  height: 100%;
  border-radius: 0;
  font-size: 20px;
  cursor: pointer;
}