html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

/* Light theme */
#light {
  background-color: #f3ebf6;
}

/* Dark theme */
#dark {
  background-color: #11191f;
}

/* join */
.joinChatContainer {
  text-align: center;
  width: 60vw;
}

.img-container {
  width: 8rem;
}

.img-container img {
  width: 100%;
}

input {
  font-size: .8em;
}

h3 {
  font-size: 1.5em;
}

p {
  font-size: 1.2em;
}

/* chat */ 
.chat-window {
  width: 80vw;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* chat header */
.chat-header {
  height: 8vh;
  background: #1e2b30a4;
  color: #fff;
  font-weight: 700;
  line-height: 45px;
  padding: 0 1em 0 2em;
  cursor: pointer;
}

/* chat body */
.chat-body {
  height: 45vw;
  background: rgba(255, 255, 255, 0.152);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}

/* message container */
.message-container::-webkit-scrollbar {
  display: none;
}

.chat-window .chat-body .message {
  padding: 10px;
  display: flex;
}

/* message content */
.message .message-content {
  background-color: #28509b;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

.sent-message {
  font-size: .8em;
}

/* message placement */
#you {
  justify-content: flex-end;
}

#you .message-content {
  justify-content: flex-end;
}

#you .message-meta {
  justify-content: flex-end;
  margin-left: 5px;
}

#other {
  justify-content: flex-start;
}

#other .message-content {
  justify-content: flex-start;
  background-color: cornflowerblue;
}

#other .message-meta {
  justify-content: flex-start;
  margin-right: 5px;
}

.message-meta #author {
  margin-left: 10px;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 10px;
}

/* chat footer */
.chat-window .chat-footer {
  height: 50px;
  border: 1px solid #263238;
  display: flex;
}

.chat-window .chat-footer input {
  flex: 85%;
  height: 100%;
  padding: 0 0.7rem;
  font-size: 1em;
  outline: none;
  border: 0;
  font-family: "Open Sans", sans-serif;
}

.chat-window .chat-footer button {
  flex: 10%;
  height: 100%;
  outline: none;
  font-size: 20px;
  color: lightgray;
  cursor: pointer;
}